.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

nav:hover ul {
  display: block;
}

nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

nav ul {
  display: block;
}

/*When we are below minimum width, the nav list is hidden, but on hover, it displays. But now we want it to display as block not inline.*/
nav ul li {
  /* display: inline; */ 
  display: block;
  border-bottom: none;
}

nav ul li:hover a {
  color: #29506D;
}

.icon-menu {
  font-size: 3em;
  float: right;
}

.template {
  display: none;
}
